#header{
    border-radius:5px;
    display:inline;
    background-color:red;
    margin-left:500px;
    position:fixed;
    z-index:1;
    text-align: center;
    

    
}
.left{
    padding-top:0px;
    float:left;
    border-radius:5px;
    height:600px;
    width:200px;
    background-color:#dadee5;
    z-index:3;
    position: relative;
}
body{
    background-color: #c8f4f1;

}
.right{
    float:right;
    border-radius: 5px;
    height:500px;
    width:360px;
    background-color:#e8b068;
    z-index:3;

}
.second_right{
    float:right;
    border-radius: 5px;
    height: 500px;
    width:200px;
    background-color:orange;
    z-index: 3;

}

    

}
.CS-111-info{
    color:purple;
}

img{
    width:100px;
    height:100px;
    margin-left: 50px;
}
#footer{
    border-radius:5px;
    
    display: block;
    clear:both;
    background-color:#a0f7b2;
    z-index:90;

}
#social_links_header{
    text-align: center;
}
#summary{
    text-align: center;
    

}
.blue{
    color:blue;
}

.bold{
    font-weight: bold;
}


}